<div class="p-4 mb-3 rounded widget-about">
    <h4 class="fst-italic">À propos de moi</h4>
    <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, nesciunt sint inventore ipsum quasi vero dicta earum quo impedit. Cupiditate iusto id porro perspiciatis ipsum totam repudiandae sed consequuntur sequi. Sunt veritatis dolor, corporis sequi fugiat, blanditiis ipsum omnis impedit quo laudantium quidem laborum veniam, eaque nam magnam. Iusto, omnis.</p>
</div>